[user]
	name = Brett Holman
	email = bholman.devel@gmail.com
	signingkey = 9A5EBD85
[core]
	editor = nvim
[init]
	defaultBranch = main
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = bholman.devel@gmail.com
	smtpserverport = 587
[pull]
	ff = only
[gpg]
	program = /usr/bin/gpg
[gitubuntu]
	lpuser = holmanb
