[user]
	name = Brett Holman
	email = bholman.devel@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = bholman.devel@gmail.com
	smtpserverport = 587
[pull]
	ff = only
